* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1d82d9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%231a76c5' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23186ab1' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23155e9d' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23135289' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23104675' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
#canvas-one {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4d79bc;
  max-width: 100%;
  max-height: 100%;
  font-family: "Bangers", cursive;
}

#layer1,
#layer2,
#layer3,
#layer4,
#player,
#angler1,
#angler2,
#lucky,
#projectile,
#gears,
#hivewhale,
#drone,
#fireExplosion,
#smokeExplosion {
  display: none;
}
